@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    text-align: center;
    font-family: Roboto Mono, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    background-color: #001F3F;
}


/* type */

h1 {
    font-size: 2.369rem;
    margin-top: 1em;
}

h2 {
    font-size: 1.777rem;
}

h3 {
    font-size: 1.333rem;
}

h1, h2, h3 {
    font-family: Bowlby One, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 4px;
    color: #ffffff;
    line-height: 1.4em;
    text-align: center;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: Roboto Mono, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

p {
    font-size: 1rem;
    padding: 1rem 0 1rem 0;
    text-align: center;
    max-width: 800px;
    margin: auto;
}


/* buttons */

button {
    all: unset;
    cursor: pointer;
}
 
.btn {
    border: none;
    border-radius: 5px;
    font-family: Roboto Mono, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    cursor: pointer;
    width: 100%;
    max-width: 480px;
    box-sizing: border-box;
    margin: auto;
}
        
    .btn-pink {
        color: #ffffff;
        background-color: #F012BE;
    }

.hyperlink {
    color: #F012BE;
    text-decoration: underline;
    text-align: center;
    font-weight: 700;
    width: 100%;
    margin: auto;
}

/* header, logo, nav menu */

header {
    width: 100%;
    text-align: center;
    padding: 2em 1em 1em 1em;
    display: inline-block;
    margin: auto;
    box-sizing: border-box;
    border-bottom: 2px dashed #ffffff;
}

#logo {
    color: #F012BE;
    font-size: 2.75rem;
    font-weight: 700;
    text-align: center;
    font-family: Bowlby One, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.25rem;
    line-height: 4rem;
    width: 100%;
    max-width: 800px;
    margin: auto;
    box-sizing: border-box;
}

#menu {
    color:#FFDC00;
    font-size: 1rem;
    letter-spacing: 4px;
}
    
    #menu ul {
        width: 100%;
        display: inline-block;
        margin: auto;
        box-sizing: border-box;
    }

    #menu li {
        display: inline-block;
        list-style-type: none;
        margin: 1em;
    }
    
    #menu a {
        text-decoration: none;
        color: inherit;
    }
    
    #menu a:hover {
        border-bottom: 1px solid #FFDC00;
        font-weight: 700;
    }
    
    .active {
        border-bottom: 1px solid #FFDC00;
        font-weight: 700;
    }


/* sections, containers */

section {
    padding: 2em 1em 2em 1em;
}

#choose {
    width: 100%;
    max-width: 800px;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
}

    #choose i, #choose svg {
        font-size: 1.5rem;
        color: #01FF70;
        height: 100%;
        border-radius: 50%;
        border: 1px solid #01FF70;
        padding: .5em;
        margin: .5em;
    }

        #choose i:hover {
            color: #FFDC00;
            border: 1px solid #FFDC00;
        }

#choices {
    display: flex;
    justify-content: space-around;
}

    #choices > div {
        width: 50%;
    }

#scores {
    display: inline;
    margin: auto;
}
    
    #scores > div {
        width: 100%;
    }

#result {
    font-weight: 700;
    color: #01FF70;
}


/* form */

form {
    padding: 1em;
    max-width: 480px;
    margin: auto;
    box-sizing: border-box;
    list-style: none;
    text-align: left;
}

    input[type="text"], input[type="email"], select {
        font-family: Roboto Mono, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1em;
        width: 100%;
        box-sizing: border-box;
        color: #585160;
        border: 1px solid #01FF70;
        border-radius: 3px;
        padding: 1em .5em 1em .5em;
        margin-bottom: 2em;
    }

    input[type="text"]:hover, select:hover {
        border: 1px solid #01FF70;
    }

    input[type="email"]:hover {
        border: 1px solid #01FF70;
    }

    input[type="text"]:focus, select:focus {
        border: 1px solid #F012BE;
    }

    input[type="email"]:focus {
        border: 1px solid #F012BE;
    }

    input[type="text"]:active, select:active {
        border: 1px solid #F012BE;
        appearance: none;
    }

    input[type="email"]:active {
        border: 1px solid #F012BE;
    }

    ::placeholder {
        color: #001f3f7e;
        font-family: Roboto Mono, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1em;
        font-weight: 400;
    }

    label {
        color: #01FF70;
        font-weight: 700;
    }

    form > h3 {
        padding: 0 0 1.5em 0;
    }

    #submitted {
        color: #01FF70;
    }


/* footer */

footer {
    height: 5rem;
    border-top: 2px dashed #ffffff;
    margin-top: 1em;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 1.25rem;
    margin: 1em;
    padding: 1em;
    color: #FFDC00;
}


@media screen and (min-width: 768px) {
    #scores {
        display: flex;
        margin: auto;
    }
        
        #scores > div {
            width: 50%;
        }
}